.all {
     position: relative;
     margin: 0 auto;
     width: 1190px;
}
 .main {
     float: left;
     width: 100%;
     padding: 0 15px;
}
 .logo {
     float: left;
     padding: 0 30px;
     margin-right: 15px;
}
 .navbar-toggle {
     padding: 11px 8px;
     background-color: transparent;
     background-image: none;
     cursor: pointer;
     position: relative;
     border: solid 1px transparent;
     border-radius: 4px;
     outline: none;
     float: right;
     display: none;
}
 .left {
     float: left;
}
 .nav-ul {
     float: left;
     list-style: none;
     padding: 5px 0;
}
 .nav-ul>li {
     float: left;
     display: block;
     margin-right: 20px;
}
 .nav-ul>li>a {
     display: block;
     text-transform: uppercase;
     line-height: 20px;
     padding: 10px;
     border-radius: 5px;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 a {
     color: inherit;
     text-decoration: none;
}
 #header.sticky {
     padding: 5px 0;
     background-color: #000;
	 color: #FFF;
}

 .dropdown {
     position: relative;
}
 .sub-menu-wrap {
     position: absolute;
     display: none;
     z-index: 1;
     right: 0;
     padding-top: 5px;
}
 .sub-menu-wrap .sub-menu {
     border: 1px solid #ccc;
     background-color: #fff;
     -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
     -ms-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
     -o-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
     box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
 .sub-menu-wrap .sub-menu li {
     display: block;
     float: none;
}
 .sub-menu-wrap .sub-menu li>a {
     line-height: 20px;
     display: block;
     color: #777;
     padding: 5px 15px;
     white-space: nowrap;
}
 html *{
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
}
 body {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     color: #383745;
     font-size: 14px;
     line-height: 1.5;
     font-weight: 300;
}
 #header {
     padding: 25px 0;
     -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
     -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
     box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     z-index: 9999;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
     background-color: #fff;
}
#header {
	background-color: #000;
	color: #FFF;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
 .navbar-toggle .icon-bar {
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
     display: block;
     width: 22px;
     height: 2px;
     border-radius: 1px;
     background-color: #FFF;
}
 .logo img {
     display: block;
     height: 50px;
}
 img {
     max-width: 100%;
}
 .navbar-toggle .icon-bar+.icon-bar {
     margin-top: 5px;
}

.navbar-toggle.open .icon-bar:nth-child(3) {
    -webkit-transform: translate(-1px, -7px) rotate(225deg);
    -moz-transform: translate(-1px, -7px) rotate(225deg);
    -ms-transform: translate(-1px, -7px) rotate(225deg);
    -o-transform: translate(-1px, -7px) rotate(225deg);
    transform: translate(-1px, -7px) rotate(225deg);
}
.navbar-toggle.open .icon-bar:nth-child(1) {
    -webkit-transform: translate(-1px, 7px) rotate(-225deg);
    -moz-transform: translate(-1px, 7px) rotate(-225deg);
    -o-transform: translate(-1px, 7px) rotate(-225deg);
    -ms-transform: translate(-1px, 7px) rotate(-225deg);
    transform: translate(-1px, 7px) rotate(-225deg);
}
.navbar-toggle.open .icon-bar:nth-child(2) {
    opacity: 0;
}
 @media (max-width: 1180px){
     .navbar-toggle+.nav-wrap {
         -webkit-transition: all .3s ease-in-out;
         -moz-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
         -ms-transition: all .3s ease-in-out;
         transition: all .3s ease-in-out;
         z-index: 1;
         position: fixed;
         height: 100%;
         width: 100%;
         left: 0;
         top: 0;
         background-color: rgba(255,255,255,0.7);
         -webkit-transform: translate(100%, 0);
         -moz-transform: translate(100%, 0);
         -ms-transform: translate(100%, 0);
         -o-transform: translate(100%, 0);
         transform: translate(100%, 0);
    }
     .navbar-toggle {
         display: block;
         z-index: 2;
		 margin-right: 15px;
    }
     .navbar-toggle+.nav-wrap .nav-ul {
         float: right;
         width: 270px;
         height: 100%;
         padding-top: 50px;
         background-color: #000;
         overflow: auto;
    }
     .navbar-toggle+.nav-wrap .nav-ul>li {
         float: left;
         width: 100%;
         margin: 0;
         margin-bottom: 5px;
         padding: 0 10px;
    }
     .main {
         padding: 0 10px;
    }
     .all {
         width: 100%;
    }
     #header .logo img {
         height: 40px;
    }
	.navbar-toggle.open+.nav-wrap {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
}